.nested-fields
  = render partial: 'field_header', locals: { f: f }
  = f.input :name, collection: UserField::USER_ATTRIBUTES
  = f.input :public, as: :boolean
  = f.hidden_field :_type, value: 'UserField'
  