%li{class: (controller_name == 'lists') ? 'active' : ''}= link_to 'Browse lists', lists_path
-p controller_name
%li{class: (controller_name == 'my_lists') ? 'active' : ''}= link_to 'My lists', my_lists_path